Repository MikeASnyder/demoMCM, changes with the owners that CODEOWNERS names for each.
All owners: @phillipsj, @rosskirkpat, @superseb, @Oats87

Add new endpoint networks-extended
  pkg/api/norman/customization/vsphere/handler.go
  pkg/api/norman/customization/vsphere/listers.go
Owners: none

Refactor and remove redundant codes for RBAC resources
  tests/v2/validation/rbac/globalrolesv2/globalroles_v2.go
  tests/v2/validation/rbac/globalrolesv2/globalroles_v2_test.go
  tests/v2/validation/rbac/globalrolesv2/globalroles_v2_webhook_test.go
Owners: none

oauth info struct
  pkg/apis/management.cattle.io/v3/public_authn_types.go
Owners: none

typed interface
  pkg/apis/management.cattle.io/v3/public_authn_types.go
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/auth/providers/azure/clients/ms_graph_client.go
  pkg/client/generated/management/v3public/zz_generated_azure_adlogin.go
  pkg/client/generated/management/v3public/zz_generated_azure_adprovider.go
Owners: none

added clientID to oautprovider
  pkg/apis/management.cattle.io/v3/public_authn_types.go
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/auth/providers/azure/azure_provider.go
Owners: none

removed deviceAuthURL, added tests
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/auth/providers/azure/azure_provider_test.go
  pkg/auth/providers/common/transformer.go
Owners: none

added AzureAD deviceAuth endpoint
  pkg/apis/management.cattle.io/v3/authn_types.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/client/generated/management/v3/zz_generated_azure_adconfig.go
Owners: none

changed token to id_token, added custom scopes, fix tests
  pkg/apis/management.cattle.io/v3/public_authn_types.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/auth/providers/azure/azure_provider_test.go
Owners: none

support for custom scopes
  pkg/apis/management.cattle.io/v3/authn_types.go
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/auth/providers/azure/azure_provider_test.go
  pkg/client/generated/management/v3/zz_generated_azure_adconfig.go
  pkg/client/generated/management/v3public/zz_generated_azure_adlogin.go
Owners: none

removed scopes from AzureADConfig, added custom and china url for devicecode
  pkg/apis/management.cattle.io/v3/authn_types.go
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/auth/providers/azure/azure_provider.go
  pkg/auth/providers/azure/clients/ms_graph_client.go
  pkg/auth/providers/azure/config.go
  pkg/client/generated/management/v3/zz_generated_azure_adconfig.go
Owners: none

fixed and added more tests
  pkg/auth/providers/azure/azure_provider_test.go
Owners: none

added comments to OAuthProvider and OAuthEndpoint structs
  pkg/apis/management.cattle.io/v3/public_authn_types.go
Owners: none

test cleanup
  pkg/auth/providers/azure/azure_provider_test.go
Owners: none

small refactor in LoginUser in id token verification
  pkg/auth/providers/azure/clients/ms_graph_client.go
Owners: none

used url.JoinPath and extracted common logic in func
  pkg/auth/providers/azure/azure_provider.go
Owners: none

fix tidy and generate
  go.mod
  go.sum
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
Owners: none

updating import cluster test to be less flaky
  tests/v2/validation/provisioning/import/import_cluster_test.go
Owners: none

P0 tests for GH39700
  go.mod
  go.sum
  tests/v2/validation/projects/container_default_resource_limit_validation_test.go
  tests/v2/validation/projects/projects.go
  tests/v2/validation/projects/rbac_terminating_project_test.go
Owners: none

updating import cluster test to be less flaky
  go.mod
  go.sum
  tests/v2/validation/provisioning/import/import_cluster_test.go
Owners: none

Retrigger when any field in the spec changes
  pkg/catalogv2/oci/oci.go
  pkg/controllers/dashboard/helm/repo_oci.go
Owners: none

Fix and enable Fleet v2prov tests
  .drone.yml
  tests/v2prov/tests/fleet/fleetcluster_test.go
Owners: @phillipsj, @rosskirkpat, @superseb

Adding tests for GH41301
  tests/v2/validation/schemas/resources/crd_create.yaml
  tests/v2/validation/schemas/schemas.go
  tests/v2/validation/schemas/schemas_test.go
Owners: none

updating import cluster test to be less flaky
  tests/v2/validation/provisioning/import/import_cluster_test.go
Owners: none

updating import cluster test to be less flaky
  tests/v2/validation/provisioning/import/import_cluster_test.go
Owners: none

Include metering archive in support config
  pkg/api/steve/supportconfigs/generator.go
  pkg/api/steve/supportconfigs/generator_test.go
Owners: none

Changing handler to handle retries instead of oras doing it
  pkg/apis/catalog.cattle.io/v1/types.go
  pkg/apis/catalog.cattle.io/v1/zz_generated_deepcopy.go
  pkg/catalogv2/oci/client.go
  pkg/catalogv2/oci/client_test.go
  pkg/controllers/dashboard/helm/repo_oci.go
  pkg/controllers/dashboard/helm/repo_oci_test.go
  tests/v2/integration/catalogv2/cluster_repo_test.go
Owners: none

Change metav1.Duration to string aka time.ParseDuration
  pkg/apis/catalog.cattle.io/v1/types.go
  pkg/apis/catalog.cattle.io/v1/zz_generated_deepcopy.go
  pkg/catalogv2/oci/client.go
  pkg/catalogv2/oci/client_test.go
  tests/v2/integration/catalogv2/cluster_repo_test.go
Owners: none

remove unused function
  tests/v2/integration/catalogv2/rancher_managed_charts_test.go
  tests/v2/integration/catalogv2/ui_plugin_test.go
Owners: none

bump versions for k8s 1.29.0 | controller-runtime 0.16.3
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
  pkg/client/go.mod
  pkg/client/go.sum
Owners: none

k3s version upgrade
  Dockerfile.dapper
  package/Dockerfile
  tests/v2/codecoverage/package/Dockerfile
  tests/validation/tests/v3_api/resource/terraform/k3s/master/install_k3s_master.sh
  tests/validation/tests/v3_api/resource/terraform/k3s/master/join_k3s_master.sh
  tests/validation/tests/v3_api/scripts/pipeline/Jenkinsfile_ontag_matrix
Owners: none

bumped capi 1.6.3
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Owners: none

removing psp template project binding refereneces
  pkg/api/norman/customization/project/project_actions.go
  pkg/api/norman/server/managementstored/setup.go
  pkg/apis/management.cattle.io/v3/zz_generated_deepcopy.go
  pkg/apis/management.cattle.io/v3/zz_generated_list_types.go
  pkg/apis/management.cattle.io/v3/zz_generated_register.go
  pkg/capr/planner/planner.go
  pkg/client/generated/management/v3/zz_generated_client.go
  pkg/client/generated/management/v3/zz_generated_pod_security_policy_template_project_binding.go
  pkg/controllers/capr/managesystemagent/managesystemagentplan.go
  pkg/generated/compose/zz_generated_compose.go
  pkg/generated/controllers/management.cattle.io/v3/interface.go
  pkg/generated/controllers/management.cattle.io/v3/podsecuritypolicytemplateprojectbinding.go
  pkg/generated/norman/management.cattle.io/v3/fakes/zz_generated_pod_security_policy_template_project_binding_mock.go
  pkg/generated/norman/management.cattle.io/v3/zz_generated_k8s_client.go
  pkg/generated/norman/management.cattle.io/v3/zz_generated_pod_security_policy_template_project_binding_controller.go
  pkg/generated/norman/management.cattle.io/v3/zz_generated_pod_security_policy_template_project_binding_lifecycle_adapter.go
  pkg/schemas/management.cattle.io/v3/schema.go
Owners: none

[testing] chart changes
  package/Dockerfile
  pkg/catalogv2/git/utils_test.go
  scripts/check-origins
  scripts/package
  tests/v2/codecoverage/package/Dockerfile
  tests/v2/integration/catalogv2/cluster_repo_test.go
Owners: none

removing psp template name refereneces
  pkg/apis/management.cattle.io/v3/authz_types.go
  pkg/client/generated/management/v3/zz_generated_project.go
  pkg/client/generated/management/v3/zz_generated_project_status.go
  pkg/crds/yaml/generated/management.cattle.io_projects.yaml
  pkg/data/management/role_data.go
Owners: none

bump capi to 1.6.4
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Owners: none

added new entry for logging operator
  pkg/image/origins.go
Owners: none

[testing] kdm changes
  pkg/image/utilities/utilities.go
  pkg/settings/setting.go
  scripts/build-server
  scripts/provisioning-tests
  scripts/test
  tests/v2/codecoverage/scripts/build-rancher.sh
  tests/v2/codecoverage/scripts/run_provisioning_integration_tests.sh
Owners: @Oats87, @rosskirkpat

removed additional entry
  pkg/image/origins.go
Owners: none

update shepherd
  go.mod
  go.sum
Owners: none

Add jitter to Lease acquire backoff
  pkg/serviceaccounttoken/secret.go
Owners: none

CODEOWNERS:

.drone.yml @phillipsj @rosskirkpat @superseb
*_windows.go @phillipsj @rosskirkpat
/package/windows/  @phillipsj @rosskirkpat
/scripts/windows/  @phillipsj @rosskirkpat
Dockerfile-windows.dapper  @phillipsj @rosskirkpat
/scripts/provisioning-test* @Oats87 @rosskirkpat
